body {
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
}

#poster_path {
    width: 50%;
    height: auto;
}
ul{
    background-color: black;
    list-style-type: none;
}
#star{
    width: 5%;
    height: auto;
    opacity: 0.3;
}
#title{
    color: black;
}

li {

    background-color: black;
    color: rgb(8, 8, 8);
}